{% extends "base.html" %}
{% block title %} | About{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1>About</h1>

  <p>declared. aims to open up data about elected politicians’ declarations of interests - who they accept gifts and
    hospitality from, their non-elected paid and voluntary work, companies and land they own, and more.</p>

  <p>These declarations are a key part of ensuring that outside influences on politicians are out in the open and
    available for public scrutiny.</p>

  <p>Too often, however, these declarations are hard to find and use. They’re often hard to find on council websites,
    or locked up in handwritten, scanned PDFs. Even when digital versions are available, it can be hard to work with
    the data; it’s unclear what columns in a spreadsheet mean, or it’s not obvious if you’re able to add up numbers
    to see totals. </p>

  <p></p>declared. approaches this problem through three key pieces of open data infrastructure:</p>

  <ul>
    <li>A data standard, so that people can understand the data more readily and combine data from multiple places
    </li>
    <li>An aggregation service, so that people can obtain bulk data</li>
    <li>A search engine, to allow anyone to access the data in a usable way</li>
  </ul>

  <p>The prototype for declared. was funded by the Nesta Future News fund, led by openDemocracy and developed by Open
    Data Services.</p>
</div>
{% endblock %}
