{% extends "base.html" %}
{% block title %} | Get Involved{% endblock %}
{% block content %}
<div class="container mt-4">
  <h1>Get Involved</h1>

  <p>declared. is a collaborative effort that relies on grant funding and contracts to be sustainable. There’s lots of
    ways to get involved; some are outlined here and please get in touch if you’d like to be involved in another
    way!</p>

  <p>declared.'s sustainability is based on making sure that everyone who does work for us gets paid for that work, so
    we don’t accept volunteer contributions.</p>

  <h2>Government</h2>
  <p>declared. provides a way for local and national governments to publish declarations of interest in a consistent
    manner, reducing scope for misunderstandings in use of the data, reducing FoI costs and encouraging democratic
    engagement.</p>

  <p>If you’d like declared. to include your existing declarations in the database and open data feed, then get in
    touch.</p>

  <h2>Journalists & News Organisations</h2>

  <p>We hope that you find declared. helpful; if you’re using it to research stories, please let us know when you
    publish; we love to see it used!</p>

  <p>We’re exploring options for developing subscription data services on top of the open data set; get in touch if
    you’d like to hear more about that as the work develops.</p>

  <p>If there’s data that you’re keen to see included, then get in touch!</p>

  <h2>Activists</h2>
  <p>If declared. data is, or could be useful in your work, then get in touch! We love to hear how our data is being
    put to use, and collaborating on making it better. We can work on custom data analysis, adding more data to the
    collection, or help integrate the data with anything you’re already doing.</p>

  <h2>Developers</h2>
  declared. is open source software and all of the data is available under an open license! We’d love to see what
  other people can build on the foundations we’ve laid. Get in touch if you’d like to discuss how we can collaborate.

  <h2>Grantmakers</h2>
  <p>There’s lots of potentially impactful ways that declared. data can be used, from holding power to account, to
    being an input to the digital newsroom, and keeping democracy ticking along. If you make grants in this area,
    please let us know; we rely on grants to develop the platform!</p>

  <h2>Individuals</h2>
  <p>If you’re interested in declared. and would be willing to help cover our costs, get in touch!</p>
</div>

{% endblock %}
