{% extends "base.html" %}
{% block title %} | Home{% endblock %}
{% block content %}
  <main role="main">
    <div class="jumbotron bg-light">
      <div class="container text-center bg-header-icon">
        <h1 class="display-3"><a href="/">declared.</a></h1>
        <p class="text-muted">declared. collects declarations of interests, gifts, employment and more from elected members of bodies around the UK</p>
        <form method="GET" action="{% url 'ui:search' %}" >
            <div class="input-group">
              <input type="text" name="search" class="form-control form-control-lg" placeholder="Search for people, public bodies, and interests." />
              <div class="input-group-append">
                <input type="submit" class="btn btn-primary btn-lg" value="Search" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        <div class="col-md-4">
          <h2>About</h2>
          <p>[ABOUT SHORT FORM]</p>
          <p><a class="btn btn-secondary btn-sm" href="{% url 'ui:about' %}">About read more &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>Latest Blog</h2>
          <p>[LATEST BLOG SHORT FORM]</p>
          <p><a class="btn btn-secondary btn-sm" href="#[LATEST BLOG LINK]" role="button">Blog read more &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>Get Involved</h2>
          <p>[GET INVOLVED SHORT FORM]</p>
          <p><a class="btn btn-secondary btn-sm" href="{% url 'ui:get-involved' %}">Get involved read more &raquo;</a></p>
        </div>

      </div>
    </div> <!-- /container -->
  </main>

{% endblock %}
