{% extends "base.html" %}
{% block title %} | Roadmap{% endblock %}
{% block content %}
<div class="container mt-4">

  <h1>Roadmap</h1>

  <h2>Previous</h2>

  <p>declared. has received one grant so far, from the Nesta Future News fund. </p>

  <h2>Current</h2>

  <p>No development is currently taking place. Get in touch if you’d like to help make some happen!</p>

  <h2>Near-term</h2>

  <p>We’re looking for partners who can help to fund future development of declared. - we’d love to add more data,
    more features and develop new services. </p>

  <h3>Adding more data</h3>

  <p>Adding a new scraper is a few days of software development work; if we’re able to find funding for that, then
    we’ll add any data from any UK body that requires members to make statutory declarations of interest. </p>

  <h3>There three main areas of development here:</h3>
  <ul>
    <li>Adding data from websites that are similar to those already scraped (this is the easiest one to do!)</li>
    <li>Adding data from websites that are dissimilar, but that fundamentally are just a bunch of data in an HTML
      table (this is a bit harder)</li>
    <li>Adding data in new file formats; some places publish Word docs with tables, spreadsheets, and PDFs. Cracking
      them open and getting the data out is hard, but worthwhile.</li>
  </ul>

  <h3>Running Costs</h3>

  <p>Right now, we’re not funded to host or maintain declared., but we don’t want to switch it off either! If you’re
    able to help with running costs, get in touch!
    Adding more features</p>

</div>

{% endblock %}
